.App {
  min-height: 100vh;
  background: rgb(20, 20, 20);
  overflow: hidden;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Filter {
  width: 96vw;
  height: 50px;
  border-bottom: 1px solid rgb(50, 50, 50);
  margin-top: 100px;
  margin: 0 auto;
  display: flex;
  align-content: center;
}

.Filter h3 {
  color: white;
  cursor: pointer;
  padding-bottom: 1px;
  margin-left: 20px;
}

.Filter h3:hover {
  color: lightgray;
  text-decoration: underline lightgray;
  padding: 0px;
}

.nav {
  width: 100%;
}

.nav h2 {
  font-size: 34px;
  color: #adff2f;
  padding-left: 25px;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  margin-left: 2%;
}

.movieCard {
  height: auto;
  width: 300px;
  margin: 20px;
  cursor: pointer;
}

.movieImage {
  height: 200px;
  width: 400px;
  background: black;
}

.movieCard span {
  color: lightgray;
  float: right;
  font-size: 18px;
}

.movieCard p {
  color: white;
  font-size: 24px;
  padding-left: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modalOrder {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 50%;
}

.genreModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 50%;
}

.modal-main {
  position: fixed;
  background: rgb(30, 30, 30);
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-main-genre {
  position: fixed;
  background: rgb(30, 30, 30);
  width: 22%;
  min-height: 22%;
  top: 28%;
  left: 17.5%;
  transform: translate(-50%, -50%);
  border: 2px solid #adff2f;
}
.modal-main-orderby {
  position: fixed;
  background: rgb(30, 30, 30);
  width: 10%;
  min-height: 22%;
  top: 28%;
  left: 17.5%;
  transform: translate(-50%, -50%);
  border: 2px solid #adff2f;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.closeButton {
  position: fixed;
  height: 2px;
  left: 18.5%;

  top: 16%;
  color: #adff2f;
  font-size: 28px;
}

.closeButton:hover {
  cursor: pointer;
}

.movieModal {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.movieModal img {
  margin: 10px;
}
.movieModal h4 {
  color: white;
}
.movieModal p {
  color: white;

  width: 70%;
  font-size: 24px;
  padding: 10px;
  margin-left: 20px;
}

.GENRES {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
}

.GENRES h3 {
  color: white;
  margin: 10px;
  font-size: 18px;
}
.GENRES h3:hover {
  cursor: pointer;
  color: lightgray;
  text-decoration: underline lightgray;
}
.All {
  text-decoration: underline lightgray;
}

.orders h4 {
  color: white;
  text-align: center;
  font-size: 18px;
  width: 100%;
}

.orders h4:hover {
  background: rgba(50, 50, 50, 0.3);

  cursor: pointer;
}
